<div>
  <% @ideas.each do |idea| %>
    <div>
      <%= form_for [@categories], url: ideas_path do |f| %>
      <%= f.text_field :name %>
      <%= f.text_field :body  %>
      <% end %>
      <p><%=@categories%></p>
      <span>
        <%= idea.body %>
      </span>
    </div>
  <% end %>
</div>
<div>
  <%= link_to 'アイデア登録', new_idea_path%>
</div>